/* src/app/global.css */

@import "tailwindcss";

@variant dark (&:is(.dark *));

:root {
  --foreground: hsl(20, 9%, 10%);
  --foreground-secondary: hsl(0, 0%, 32%);

  --canvas: hsl(0, 0%, 96%);
  --surface: hsl(0, 0%, 86%);
  --surface-hover: hsl(0, 0%, 86%);

  --line: hsl(0, 0%, 83%);
  --line-focus: hsl(0, 0%, 25%);
}

:root.dark {
  --foreground: hsl(220, 13%, 89%);
  --foreground-secondary: hsl(0, 0%, 60%);

  --canvas: hsl(220, 12%, 10%);
  --surface: hsl(220, 12%, 18%);
  --surface-hover: hsl(220, 12%, 22%);

  --line: hsl(220, 12%, 20%);
  --line-focus: hsl(220, 12%, 80%);
}

@theme inline {
  --breakpoint-xs: 400px;

  --font-sans: var(--font-jakarta);

  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);

  --color-canvas: var(--canvas);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);

  --color-line: var(--line);
  --color-line-focus: var(--line-focus);
}
