/* src/app/global.css */

@import "tailwindcss";

@variant dark (&:is(.dark *));

:root {
  --canvas: theme(colors.neutral.100);
  --glass: color-mix(in srgb, theme(colors.neutral.200) 80%, transparent);
  --glass-hover: color-mix(in srgb, theme(colors.neutral.200) 90%, transparent);
  --glass-surface: color-mix(
    in srgb,
    theme(colors.neutral.50) 90%,
    transparent
  );
  --foreground: theme(colors.stone.900);
  --foreground-secondary: color-mix(
    in srgb,
    theme(colors.stone.900) 60%,
    transparent
  );
  --line: theme(colors.neutral.300);
  --line-hover: theme(colors.neutral.400);
  --line-focus: theme(colors.neutral.700);
}

:root.dark {
  --canvas: theme(colors.neutral.900);
  --glass: color-mix(in srgb, theme(colors.neutral.800) 80%, transparent);
  --glass-hover: color-mix(in srgb, theme(colors.neutral.800) 90%, transparent);
  --glass-surface: color-mix(
    in srgb,
    theme(colors.neutral.600) 90%,
    transparent
  );
  --foreground: theme(colors.stone.100);
  --foreground-secondary: color-mix(
    in srgb,
    theme(colors.stone.100) 60%,
    transparent
  );
  --line: theme(colors.neutral.700);
  --line-hover: theme(colors.neutral.600);
  --line-focus: theme(colors.neutral.200);
}

@theme inline {
  /* Puntos de interrupción */
  --breakpoint-xs: 500px;

  /* Colores */
  --color-canvas: var(--canvas);
  --color-glass: var(--glass);
  --color-glass-hover: var(--glass-hover);
  --color-glass-surface: var(--glass-surface);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-line: var(--line);
  --color-line-hover: var(--line-hover);
  --color-line-focus: var(--line-focus);

  /* Tipografía */
  --font-sans: var(--font-jakarta);
}
