/* src/app/global.css */

@import "tailwindcss";

@variant dark (&:is(.dark *));

:root {
  --background: theme(colors.neutral.100);
  --surface: color-mix(in srgb, theme(colors.neutral.200) 80%, transparent);
  --surface-hover: color-mix(
    in srgb,
    theme(colors.neutral.200) 90%,
    transparent
  );
  --foreground: theme(colors.stone.900);
  --foreground-secondary: color-mix(
    in srgb,
    theme(colors.stone.900) 60%,
    transparent
  );
  --border: theme(colors.neutral.300);
  --border-focus: theme(colors.neutral.700);
}

:root.dark {
  --background: theme(colors.neutral.900);
  --surface: color-mix(in srgb, theme(colors.neutral.700) 70%, transparent);
  --surface-hover: color-mix(
    in srgb,
    theme(colors.neutral.700) 80%,
    transparent
  );
  --foreground: theme(colors.stone.100);
  --foreground-secondary: color-mix(
    in srgb,
    theme(colors.stone.100) 60%,
    transparent
  );
  --border: theme(colors.neutral.600);
  --border-focus: theme(colors.neutral.200);
}

@theme inline {
  /* Breakpoints */
  --breakpoint-xs: 500px;

  /* Colors */
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-border: var(--border);
  --color-border-focus: var(--border-focus);

  /* Typography */
  --font-sans: var(--font-jakarta);
}
