/* src/app/global.css */

@import "tailwindcss";

@theme {
  --breakpoint-xs: 500px;
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}
