/* src/app/global.css */

@import "tailwindcss";

@variant dark (&:is(.dark *));

:root {
  /* Backgrounds */
  --bg-primary: theme(colors.neutral.100);
  --bg-secondary: color-mix(
    in srgb,
    theme(colors.neutral.200) 90%,
    transparent
  );
  --bg-hover: color-mix(in srgb, theme(colors.neutral.200) 90%, transparent);

  /* Foregrounds */
  --fg-primary: theme(colors.stone.900);
  --fg-secondary: color-mix(in srgb, theme(colors.stone.900) 70%, transparent);
  --fg-tertiary: color-mix(in srgb, theme(colors.stone.900) 50%, transparent);

  /* States */
  --bd-focus: theme(colors.blue.600);
}

:root.dark {
  /* Backgrounds */
  --bg-primary: theme(colors.neutral.900);
  --bg-secondary: color-mix(
    in srgb,
    theme(colors.neutral.800) 70%,
    transparent
  );
  --bg-hover: color-mix(in srgb, theme(colors.neutral.700) 50%, transparent);

  /* Foregrounds */
  --fg-primary: theme(colors.stone.100);
  --fg-secondary: color-mix(in srgb, theme(colors.stone.100) 60%, transparent);
  --fg-tertiary: color-mix(in srgb, theme(colors.stone.100) 40%, transparent);

  /* States */
  --bd-focus: theme(colors.blue.400);
}

@theme inline {
  /* Breakpoints */
  --breakpoint-xs: 500px;

  /* Colors */
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-bg-hover: var(--bg-hover);

  --color-fg-primary: var(--fg-primary);
  --color-fg-secondary: var(--fg-secondary);
  --color-fg-tertiary: var(--fg-tertiary);

  --color-bd-focus: var(--bd-focus);

  /* Typography */
  --font-sans: var(--font-jakarta);
}
